{% extends "base.html" %}

{% block title %} Admin Page {% endblock %}

{% block head %}
    <style>
        body { font-family: Arial, sans-serif; text-align: center; background: purple; padding: 50px; }
        table { width: 50%; margin: auto; border-collapse: collapse; background: white; margin-top: 230px; }
        th, td { padding: 10px; border: 1px solid #ddd; }
        h2{
            margin-top: 200px;
        }

    </style>
{% endblock %}


{% block main_block %}
    <h2>Admin Panel - User Data</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
